@import './core/reset.css';
@import './core/bedrock.css';

body {
  display: grid;
  grid-template-rows: min-content auto min-content;
  overflow: hidden;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

/* Header */

.header {
  padding: 1.5rem 1rem;
  background-color: #0F283F;
}

.header__inner {
  display: grid;
  grid-template-columns: min-content auto;
}

.header__logo {
  width: 12rem;
}

.header__logo img {
  width: 100%;
}

.header__right {
  align-self: center;
  justify-self: right;
  text-align: right;
}

.header__title {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
}

.header__version {
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.header__version-num {
  color: #3CC966;
}

/* Main */

.main {
  overflow-y: scroll;
  padding: 2rem 1rem;
}

/* Footer */

.footer {
  padding: 3rem 1rem;
  background-color: #081623;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
