<div class="container">
  <div class="footer__inner">
    <span><a href="https://webbuniverse.com" target="_blank">webbuniverse.com</a></span>
    <span>&nbsp;|&nbsp;</span>
    <span><a href="https://dev.webbuniverse.com" target="_blank">dev.webbuniverse.com</a></span>
    <span>&nbsp;|&nbsp;</span>
    <span><a href="https://admin.webbuniverse.com" target="_blank">admin.webbuniverse.com</a></span>
  </div>
</div>
