<div class="container">
  <div class="header__inner">
    <div class="header__logo">
      <img src="https://www.webbuniverse.com/assets/brand/Logo_Light.svg" />
    </div>
    <div class="header__right">
      <div class="header__title">Webb Universe API</div>
      <div class="header__version">
        <span>Version&nbsp;</span>
        <span class="header__version-num"><%= semVer %></span>
      </div>
    </div>
  </div>
</div>
